*{
	box-sizing: border-box;
	@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
}
body{
	background-color: #3498db;
	font-family: 'PT Sans Narrow', sans-serif;

}
header{
	width: 100%;
	background-color: rgb(230, 126, 34)
}
li{
	color: #3498db;
	font-weight: bold;
	margin-top: 10px;
	text-shadow: 2px 2px 2px black;
}
h1, h3{
	font-size: 30px;
	text-align: center;
	padding: 30px;
	color: #3498db;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}
a{
	text-decoration: none;
	color: rgb(230, 126, 34);
	font-weight: bold;
}
nav{
	padding: 40px;
}
nav ul{
	text-align: center;
}
nav li{
	display: inline;
	padding: 10px;
	color: rgb(230, 126, 34);
	font-weight: bold;

}
.input-section{
		height: 100px;
		width: 150px;
		margin: 0 auto;	
}
input{
	padding: 10px;
	border-radius: 3px 3px 3px;
	width: 75px;
	
}
button::-moz-focus-inner {
    border:0;
    padding:0;
}
.Buttons{
	background-color: rgb(230,126,34);
	margin-top: 10px;
}

.Add, .Remove{
	padding: 10px;
	border-radius: 3px 3px 3px;
	display: inline;
	margin-left: 3px;

}
.Add:active, .Remove:active{
	webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #3498db;
        -moz-box-shadow: 0px 9px 0px #3498db;
        box-shadow: 0px 6px 14px #3498db;
        position: relative;
        top: 7px;
}
.wrapper{
	margin: 0 auto;
	text-align: center;
}
.to-do-list{
	width: 50%;
	background-color: rgb(230, 126, 34);
	min-height: 700px;
	border-radius: 10px 10px 10px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.clearfix{
	clear:both;
}
.checkedItems{
	
}
.highlight{
	background: pink;
	margin: 0 auto;
	width: 100px;
}
.checkedItems li{
	font-size: 20px;
	text-align: center;
	color: #3498db;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}
.checkedItems li:hover{
	cursor: pointer;
}
footer{
	padding: 40px;
	color: rgb(230, 126, 34);
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}